/* and here */
body {
	font-family: Arial, sans-serif;
	background-color: #242424;
	padding: 5px;
	padding-bottom: 20px;
}

#popular,
#results {
	display: grid;
	grid-template-columns: repeat(7, 1fr);
	gap: 35px 20px;
	margin-top: 30px;
}

.movie {
	background-color: #2a2a2a;
	padding: 8px;
	border-radius: 8px;
	text-align: center;
	cursor: pointer;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100%;
	transition: ease-out box-shadow 0.2s;
	box-shadow: 0px 0px 5px -2px rgba(157, 103, 194, 0);
}

.movie:hover {
	box-shadow: 0px 0px 0px 8px rgba(195, 181, 253, 1);
}

.movie img {
	width: 100%;
	border-radius: 8px;
	align-self: flex-end;
	margin-top: -10%;
}

#dicknballs {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.9);
	z-index: 9999;
	justify-content: center;
	align-items: center;
}

#dicknballs iframe {
	width: 80%;
	height: 80%;
	border: none;
}

#close {
	position: absolute;
	top: 20px;
	right: 20px;
	font-size: 24px;
	color: white;
	background: none;
	border: none;
	cursor: pointer;
}

#titlelol {
	text-align: center;
}

#titlelol h1 {
	color: #f0f0f0;
	font-size: 40px;
	margin-top: 0%;
	filter: drop-shadow(0px 0px 5px #c4b5fd);
}

#titlelol input {
	width: 70%;
	height: 50px;
	border-radius: 20px;
	padding-left: 20px;
	font-size: 15px;
	border: none;
}

#titlelol button {
	height: 55px;
	border-radius: 20px;
	width: 55px;
	background: #c4b5fd;
	border: none;
	box-shadow: inset 0px 0px 10px rgb(205, 192, 255);
	color: #2a2a2a;
	cursor: pointer;
}

.movie h2 {
	color: #d2d1d1;
	margin-top: 3%;
	font-size: 18px;
}

.movie img {
	display: inline-block;
	align-self: flex-end;
}

@media (max-width: 1300px) {
	#popular,
	#results {
		grid-template-columns: repeat(6, 1fr);
	}	
}

@media (max-width: 1075px) {
	#popular,
	#results {
		grid-template-columns: repeat(5, 1fr);
	}	
}

@media (max-width: 800px) {
	#popular,
	#results {
		grid-template-columns: repeat(4, 1fr);
	}	
}


@media (max-width: 550px) {
	#popular,
	#results {
		grid-template-columns: repeat(3, 1fr);
	}	
}

@media (max-width: 400px) {
	#popular,
	#results {
		grid-template-columns: repeat(2, 1fr);
	}	
}

@media (max-width: 250px) {
	#popular,
	#results {
		grid-template-columns: repeat(1, 1fr);
	}	
}
